
/*reset css*/
*{margin: 0; padding: 0;font-family: 'Roboto', sans-serif; font-size: 14px;
    color: #2f2f33;}

.hidden-lg {
    display: none;
}

.col-lg-6.col-md-4.col-sm-6.hidden-lg {
    display: none;
}

.blog_index_top {
    margin-bottom: 15px;
}

section.awe-section-1 {
    margin-bottom: 30px;
}

.hidden-lg.hidden-md.hidden-sm {
    display: none;
}

nav.navbar.navbar-light.navbar-menu-main {
    border-bottom: solid 1px #e5e6ec;
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.top_cart_responsive {
    display: none;
}

.logo_top_responsive {
    display: none;
}


a {
	text-decoration: none;
}

.navbar-responsive {
    display: none;
}

a:hover {
    text-decoration: none;
    color: #ec407a!important;
}

a.text1line {
    color: #2f2f33;
    font-size: 16px;
}

ul, li {
	list-style: none;
}

.nav_item_responsive {
    display: none;
}


.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
@font-face {
	src: url(fonts/VNI-Baybuom.ttf);
	font-family: baybuom;
}
/* css cho blog_index_top */
/* css cho list_menu_header */
.list-group.list_group {
    padding: 0 20px;
    border-top: none;
    border-bottom: none;
    border-left: solid 1px #e5e6ec;
    border-right: solid 1px #e5e6ec;
    background: #fff;
    border-bottom: solid 1px #e5e6ec;
}
a.list-group-item.link_list_menu {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
a.list-group-item.link_list_menu.border-none {
    border-top: none;
}

a.list-group-item.link_list_menu:hover {
    text-decoration: none;
    color: #ec407a;
}

a.list-group-item.link_list_menu:hover i.icon-chevron-circle {
    color: #ec407a;
}

a.list-group-item.link_list_menu {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    display: block;
    color: #2f2f33;
}

i.fa.fa-chevron-circle-right.icon-chevron-circle {
    padding-right: 6px;
    color: #2f2f33;
}





li.item_list_menu {
    padding: 0 20px;
    border-bottom: solid 1px #e5e6ec;
}

ul.child-news {
    display: none;
}

a.link_category {color: #2f2f33;font-size: 14px;}


/* css cho header_top_bar item_bar */
a.item_bar {
    color: #fff;
    text-decoration: none;
}
.col-address {
    padding-right: 0;
}
a.item_bar.hotline:hover {
    text-decoration: none;
}

i.fa.fa-icon {
    padding-right: 5px;
    color: #fff;
}

i.fa.fa-angle-down.fa-icon.arrow_down {
    padding-right: 0;
    padding-left: 5px;
}
/* css cho header_top_bar */
.header_top_bar {
    height: 50px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    background: #252e4b;
    color: #fff;
} 
/* css cho wrap_header_top */
.col-md-2.header_top_register {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.col-md-2.header_top_cart {
    padding: 20px 0;
}

.col-md-6.search_header {
    padding: 20px 0;
}

.wrap_header_top {
    padding: 30px 0;
}

.btn-group.choose_item {
    height: 40px;
    line-height: 40px;
    background: #F7F8FC;
    padding: 0px 24px 0px 24px;
}



/*css cho phan dropdown-menu*/
ul.dropdown-menu {
    background: #fff;
    border: 1px solid #ccc;
    width: 198px;
}
a.dropdown-toggle.choose_category {
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #76767e;
    display: inline-block;
}
li.item_category {
    padding: 0px 20px;
}

li.item_category:hover {
    background-color: #ec407a;
}
li.item_category:hover a.link_category {
    text-decoration: none;
    color: #fff!important;
}
/*css cho phan search*/
input.search {
    border: solid 1px #e5e6ec;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #76767e;
    padding: 0 30px;
    width: 299px;
    height: 40px;
    /* border-left: none; */
    /* border-right: none; */
}
button.btn.btn-primary.btn-search {
    background: #ec407a;
    color: #fff;
    font-size: 12px;
    height: 40px;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    padding: 0 20px;
}
.header_searchs {
    /* border: solid 1px #e5e6ec; */
    height: 40px;
}


span.input-group-btn {
    height: 40px;
}
i.fa.fa-shopping-cart.icon-cart {
    width: 30px;
    float: left;
    font-size: 30px;
    color: #2f2f33;

}
a.cart-link {
 
    float: left;
    padding-left: 5px;
    text-decoration: none;
    width: calc(100% - 30px);
    display: inline-block;
}
span.amount {
    font-size: 13px;
    color: #bdbdc6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

span.background_card {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #2f2f33;
    line-height: 22px;
}

span.background_card:hover {
    color: #ec407a;
}


span.price {
    color: #ec407a;
    font-weight: 400;
}
.no-item {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    border: solid 1px #e5e6ec;
    font-size: 14px;
}

/* css cho header_top_cart */
.col-md-2.header_top_cart {
    position: relative;
}

.col-md-2.header_top_cart:hover .top-cart-content {
    opacity: 1;
}

.top-cart-content {
    position: absolute;
    bottom: -40%;
    opacity: 0;
    right: -45%;
    z-index: 2;
    background: #fff;
}


/* css cho header_top_register */
.notification-sign {
    border: 1px solid black;
    position: absolute;
    top: 100%;
    left: 45%;
    cursor: default;
    opacity: 0;
    display: none;
    z-index: 2;
    padding: 3px;
    width: 60px;
    background: #fff;
    font-weight: normal;
    font-size: 13px;
}

span.gray-text {
    font-size: 13px;
    color: #bdbdc6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.log-in {
    font-weight: 500;
    font-size: 13px;
    color: #2f2f33;
    line-height: 22px;
    position: relative;
}

a.log-in:hover .notification-log {
    opacity: 1;
    display: block;
    transition-delay: 0.3s;
   
}

.sign-up {
    font-weight: 500;
    font-size: 13px;
    color: #2f2f33;
    line-height: 22px;
    position: relative;
}

a.sign-up:hover .notification-sign {
    opacity: 1;
    transition: 0.3s;
    display: block;
    transition-delay: 0.3s;
}

.sign-up:hover {
    text-decoration: none;
    color: #ec407a;
}
.log-in:hover {
    text-decoration: none;
    color: #ec407a;
}
i.fa.fa-user.icon-user {
    width: 30px;
    float: left;
    /* line-height: 122px; */
    font-size: 30px;
    color: #2f2f33;
}
.notification-log {
    border: 1px solid black;
    position: absolute;
    top: 130%;
    left: 10%;
    cursor: default;
    opacity: 0;
    display: none;
    z-index: 2;
    padding: 3px;
    width: 80px;
    background: #fff;
    font-weight: normal;
    font-size: 13px;
}
/* css cho site_menu_main */

.site_menu_main {
    border-bottom: solid 1px #e5e6ec;
    background: #fff;
    display: none;
}

/* css ccho list_production */
.list_production {
    background: #ec407a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.title_menu {
    
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}


i.fa.fa-sliders.text-md-right.icon-sliders {
    font-size: 14px;
    color: #fff;
}
/* css cho menu_main_ */
li.nav-item.nav_item.active a.nav-link.nav_link {
    color: #ec407a;
}
li.nav-item.nav_item a.nav-link.nav_link {
    font-weight: 500;
    color: #2f2f33;
    padding: 9px;
}

li.nav-item.nav_item:hover a.nav-link.nav_link {
	color: #ec407a;
}
li.nav-item.nav_item:hover .icon-arrow-down {
	color: #ec407a;
}

/*menu da cap*/
.multi-menu {
    position: relative;
}

.dropdown-production:hover ul.child-production {
    display: block;
}

.dropdown-news:hover .child-news {
    display: block;
}


li.item-child.multi-menu.multi-mask {
    position: relative;
}

ul.child-menu {
    position: absolute!important;
    top: -10px!important;
    right: 0!important;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    background-color: #fff;
    opacity: 0;
    display: block!important;
    width: 200px;
    background: #fff;
    border: solid 1px #ebebeb;
}

.child-production {
    opacity: 0;
}

.dropdown-production:hover .child-production {
    opacity: 1;
}

ul.child-menu.child-mask {
    position: absolute;
    left: 100%;
    top: 0px;
}

.multi-mask:hover .child-mask {
    opacity: 1;
}

.child-mask {
    opacity: 0;
}
li.item-mask {
    padding: 5px 10px;
}

li.item-mask:hover .link-mask {
    color: #ec407a;
}

a.link-mask {
    font-weight: 400;
    color: #333;
    text-decoration: none;
}

li.item-child {
    padding: 5px 10px;
    position: relative;
}

a.link-child {
    font-weight: 400;
    color: #333;
    text-decoration: none;
}

.item-child:hover a.link-child {
    color: #ec407a;
}
.item-child:hover .icon-arrow-right {
	color: #ec407a;
}
.icon-arrow-right {
    position: absolute;
    right: 10px;
    top: 8px;
}
/*css cho contact*/
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
span.number-phone {
    font-size: 28px;
}

span.number-phone:hover {
    cursor: pointer;
    color: #ec407a;
}

span.hotline {
    font-size: 26px;
    font-weight: 500;
    color: #2f2f33;
}

i.icon-contact {
    color: #ec407a;
    margin-right: 10px;
    font-size: 32px;
    display: inline-block;
    float: left;
}
/*finish cho phan contact*/

/*css cho phan blog_main*/
/*css cho phan wrap_blog*/
.wrap_blog {
    margin-top: 15px;
    position: relative;
    z-index: 1;
    width: auto;
    height: 270px;
}

.wrap_blog.wrap_two_banner2 {
    height: 163px;
}

.wrap_blog.wrap_two_banner {
    height: 227px;
}


img.layer-img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
}

img.layer-img.img-beauti.img-blog {
    width: 100%;
    height: 100%;
}
.layer-effect-x {
    position: absolute;
    z-index: 3;
    background-color: rgba(255,255,255,0.4);
    opacity: 0.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.layer-effect-y {
    position: absolute;
    z-index: 3;
    background-color: rgba(255,255,255,0.4);  
    opacity: 0.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*css-phan hieu ung*/
@-webkit-keyframes zoom-x {
	from {
		width: 5%;
    	height: 100%;
	}
	to {
		width: 100%;
		height: 100%;
	}
}
@-webkit-keyframes zoom-y {
	from {
		width: 100%;
    	height: 5%;
	}
	to {
		width: 100%;
		height: 100%;
	}
}
.wrap_blog:hover .layer-effect-x {
    animation: zoom-x 0.8s forwards;
    transition-delay: 0.3s;
}
.wrap_blog:hover .layer-effect-y {
    animation: zoom-y 0.8s forwards;
    transition-delay: 0.3s;
}

/*finish css cho phan wrap_blog*/

/*css cho phan blog_text*/
.summary_text {
    font-size: 14px;
    color: #555555;
}

span.time {
    font-size: 14px;
    color: #555555;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

span.ti-user {
    font-size: 14px;
    color: #555555;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-right: 20px;
}

.post {
    font-size: 14px;
    color: #555555;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

p.blog_name {
    font-weight: 400;
    font-size: 16px;
    color: #ec407a;
    display: block;
    margin: 5px 0px;
}
/*finish css cho phan blog_text*/

/*css cho phan blog_list_right*/

article.blog-item.blog-item-list {
    margin-bottom: 15px;
}
img.img-mini {
    width: 100%;
    height: 100%;
}
.wrap-img-mini {
    position: relative;
    width: 100%;
    margin-top: 15px;
    height: 80%;
}
.wrap-img-mini:hover .layer-effect-x {
    animation: zoom-x 0.8s forwards;
    transition-delay: 0.3s;
}
.wrap-img-mini:hover .layer-effect-y {
    animation: zoom-y 0.8s forwards;
    transition-delay: 0.3s;
}

a.link_blog {
    color: #2f2f33;
    font-size: 24px;
    font-weight: 500;
}

h3.blog-item-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    height: 60px;
    margin-bottom: 10px;
}


a.link_blog:hover {
    text-decoration: none;
    color: #ec407a;
}
a.content-mini {
    
    color: #2f2f33;
    
}

a.content-mini:hover {
    text-decoration: none;
    color: #ec407a;
}


/*css cho awe-section-1*/
	/*css cho wrap_owl*/
.col-lg-2.col-md-2.col-sm-12.wrap_owl {
    
}

.section_category_collections {
    padding: 25px 0px;
    background: #f9f4f6;
}

.title_cate_ {
    text-align: center;
}
/* css cho phan awe-section-2 */
/* css cho title_head_ */
h2.title_head_ {
    margin: 0;
    position: relative;
}
a.name_head_:hover {
    text-decoration: none;
    color: #ec407a;
}
a.name_head_ {
    color: #575454;
    font-size: 18px;
    font-weight: bold;
}

a.name_head_.title_ {
    font-size: 18px;
    color: #ffffff;
    /* margin-bottom: 15px; */
    line-height: 34px;
    font-weight: 500;
}


a.name_cate_ {
    margin: 0 auto;
    display: inline-block;
    padding: 0px 10px;
    background-color: #fff;
    color: #2f2f33;
}
.border_content {
    position: absolute;
    bottom: -16px;
    left: 0;
    height: 2px;
    width: 50px;
    background: #ec407a;
}
/*css cho phan wrap_owl_product*/

.wrap_owl_product {
    margin: 15px 0;
}

/*css cho phan owl_item_product*/
/*css cho phan product-thumbnail*/
.product-thumbnail {
    position: relative;
    width: 100%;
    height: 220px;
    border-bottom: solid 1px #ebebeb;
}

.product-thumbnail:hover {
    opacity: 0.7;
}

a.link-product-thumbnail {
    display: block;
    width: 100%;
    height: 100%;
}


span.percent {
    color: #fff;
}

span.sale_count {
   
position: absolute;
   
z-index: 8;
   
right: -14px;
   
top: -3%;
   
display: inline-block;
   
width: 50px;
   
height: 20px;
   
line-height: 20px;
   
text-align: center;
   
background: #e42323;
   
color: #fff;
   
font-size: 13px;
}

.quare_rotate {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: #fff;
    transform: rotate(45deg);
    top: 0px;
    right: 44px;
}
img.img_thumbnail {
    width: 100%;
    height: 100%;
}

.owl_item_product {
    display: flex;
}

.product-box {
    width: 20%;
    padding: 15px;
}

.product-box:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

/* css cho phan  product-info */
span.collection_na {
    font-size: 13px;
    font-weight: 400;
    color: #76767e;
    margin-top: 10px;
}
h3.product-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #2f2f33;
    margin-bottom: 7px;
    margin-top: 5px;
    height: 45px;
}

a.text_2_line {
    color: #2f2f33;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px;
}

a.text_2_line:hover {
    text-decoration: none;
    color: #ec407a;
}
.price-box {
    margin-bottom: 20px;
}
span.price_.product-price-old {
    text-decoration: line-through;
    font-size: 12px;
    color: #acacac;
    margin-right: 15px;
    line-height: 18px;
    font-weight: 300;
    margin-right: 10px;
}

span.price_.product-price {
    color: #ec407a;
    font-size: 15px;
    line-height: 18px;
    display: inline-block;
    margin-right: 0px;
    font-weight: 500;
}
/* css cho phan action_ */

.btn-shopping-bag {
    box-shadow: none;
    border-radius: 5px;
    height: 30px;
    background-color: #fff!important;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    position: relative;
    border: solid 1px #ec407a!important;
    font-size: 14px;
    color: #ec407a!important;
    font-weight: 500;
}

button.btn.btn-primary.btn-shopping-bag:hover {
    background-color: #ec407a!important;
    color: #fff!important;
    border: solid 1px #ec407a!important;
}

button.btn.btn-primary.btn-shopping-bag:hover i.icon-shopping {
    color: #fff!important;
}

i.icon-shopping {
    color: #ec407a!important;
    font-size: 14px;
}
/* css modal */
.modal-header.shopping-modal-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* position: relative; */
    /* padding: 15px 75px 15px 55px; */
    margin: 0px;
    background: #f0f0f0;
    color: #000;
    height: 50px;
    line-height: 50px;
    padding: 10px 70px;
    text-align: left;
}
.modal-content.shopping-modal {
    width: 900px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-dialog.modal-dialog-centered.shopping-dialog {
    margin: 200px auto;
    width: auto;
    position: relative;
}

span.cart-popup-name {
    font-size: 16px;
}


i.icon-check {
    font-size: 18px;
    color: #333;
    width: 30px;
    height: 30px;
}
h5#title_bag_1 {
    font-size: 16px!important;
}
a.link-shopping-product {
    color: #ec407a;
    text-decoration: underline!important;
    font-size: 16px;
}

a.link-shopping-product:hover {
    text-decoration: none!important;
}
/* .box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
} */

/* css cho phan awe-section-5 section_banner_full */
section.awe-section-5 {
    margin-top: 15px;
}

.wrap_blog.wrap_banner {
    width: 100%;
    height: 160px;
}
/*css cho phan awe-section-6*/

section.awe-section-6 {
    margin-top: 30px;
}


.card.item_blog_owl {
    padding: 10px 10px 30px 10px;
    border: none;
}


h2.title_center_ {
    text-align: center;
    margin-bottom: 30px;
}

h2.title_center_ a {
    font-family: baybuom;
    font-size: 40px;
    line-height: 36px;
    color: #2f2f33;
    text-align: center;
}

h2.title_center_ a:hover {
    text-decoration: none;
}
.wrap_blog.card-img-top.wrap-img-blog {
    width: auto;
    height: 200px;
    margin: 0;
}

h4.card-title.large_name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.card-text.summary_.text3line {
    font-size: 14px;
    font-weight: 300;
    color: #2f2f33;
}

p.card-text.blog-name {
    font-weight: 400;
    font-size: 16px;
    color: #ec407a;
    display: block;
    margin: 5px 0px;
}

section.section_blog_main_index {
    background-image: url(images/background_blog.webp);
    background-repeat: no-repeat;
    padding: 40px 0px 60px;
    overflow: hidden;
}

/* css cho section.awe-section-7 */
section.awe-section-7 {
    margin-top: 30px;
}

/* css cho section.awe-section-8 */
section.awe-section-8 {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* css cho phan awe-section-9 */

section.awe-section-9 {
    margin-bottom: 30px;
}

.product-col {
    margin-top: 30px;
}


.col-lg-12.col-md-12.col-title {
    margin-bottom: 15px;
}

.col-lg-8.col-md-8.col-sm-6.col-xs-6.item-info-horizontal {
    padding: 0px 25px;
}

.hot_sale_product {
    overflow: hidden;
    padding: 10px;
    border: solid 1px #ebebeb;
    margin-bottom: 15px;
}
/*css cho awe-section-9*/
.wrap_ser {
    padding: 30px 0px;
}

.wrap_ser.last_ser:before {
    content: ""!;
    width: 0;
    height: 0;
}
.wrab {
    border: solid 1px #ecede7;
}
.wrap_ser:before {content: "";width: 2px;height: 120px;background: #ecede7;position: absolute;top: 18%;right: 3%;}


.row.row-ser {
    padding: 20px;
}
.col-content-ser {
    padding: 0;
}
span.des_ser {
    font-size: 14px;
    color: #76767e;
    font-weight: 400;
}

p.large_ {
    font-weight: bold;
    font-size: 16px;
}

.icon-ser {
    font-size: 42px;
    color: #ec407a;
}

section.awe-section-10 {
    margin-bottom: 30px;
}

/*css cho footer*/
.footer-inner {
    padding: 50px 0 30px 0;
}

.site-footer {
    position: relative;
    background-image: url(images/bg_footer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 40px;
}

i.fa.widget-icon {
    color: #ec407a;
}

span.ti {
    margin-right: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    display: block;
    margin-top: 5px;
}

a.phone {
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
}
a.mail {
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
}

.footer-inner p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}

p.content-widget {
    margin: 20px 0px 10px;
}
.row.row-last-widget {
    margin-top: 20px;
}


.footer-inner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.rigphone a {
    font-weight: bold;
    display: block;
    font-size: 28px;
    color: #fff;
}

.rigphone a:hover {
    color: #fff!important;
}

ul.list-menu.toggle-mn {
    margin-top: 30px;
}
li.li_effect a {
    color: #fff;
    line-height: 30px;
}

li.li_effect a:hover {
    margin-left: 15px;
    transition: 0.3s;
}
/*  css cho phan copyright */
.social_right a i.fa {
    color: #fff;
}

.social_right a i.fa:hover {
    color: #ec407a;
}

p.content_copyright {
    color: #fff;
    font-size: 13px;
    margin: 0;
}


.copyright {
    line-height: 40px;
    padding: 10px 0px 10px;
    background: #212124;
    font-size: 13px;
}

i.fa.fa-phone.fa-5x.icon-phone {
    color: #fff;
}

.inner_copyright {
    padding: 10px 0px 10px;
}
a.wrap_icon {
    font-size: 14px;
    margin-left: 15px;
}
/* css cho btn scroll on Top */
a.btn.btn-primary.btn_ontop.float-xs-right {
    width: 50px;
    height: 50px;
    border: solid 3px #fff4cc;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ec407a;
    position: absolute;
    right: 15px;
    bottom: 100px;
}

i.fa.fa-chevron-up.fa-chevron {
    color: #fff;
}
.btn_ontop {
	transition: 0.5s;
	opacity: 0;
}
.display {
	opacity: 1;
}
/*responsive cho man hinh di dong*/
@media only screen and (min-width: 320px) and (max-width: 576px){
	* {

	}

.modal-content.shopping-modal {
    width: 100%;
}

.col-xl-6.col-lg-4.col-md-4.col-sm-6.hidden-lg {
    display: none;
}

	/*css cho phan header_top_bar*/
	.header_top_bar {
	    display: none;
	}
	/*css cho phan wrap_header_top*/
	nav.navbar.navbar-light.wrap_header_top {
	    display: none;
	}
	.wrap_header_top {
        display: none; 
	}
	.wrap_header_top {
	    padding: 0;
	}
	.search_full {
	    margin-top: 15px;
	}

	button.btn.icon-fallback-text {
	    height: 100%;
	    border: none;
	    width: 100%;
	    border-radius: 0;
	}

	span.input-group-btn {
	    position: absolute;
	    top: 16px;
	    right: 15px;
	    width: 45px;
	    height: 48px;
	}

	input.input_search {
	    border: 1px solid #ebebeb;
	    padding: 0 20px;
	    width: 100%;
	    max-width: 100%;
	    display: block;
	    height: 50px;
	}

	.header_search_.col-lg-12.col-md-12.col-sm-12.col-xs-12.hidden-lg.hidden-md.hidden-sm {
	    display: block;
	}

	.col-toggle-responsive {
	    display: flex;
	    align-items: center;
	}

	nav.navbar.navbar-light.navbar-menu-main {
	    border: none;
	    padding: 15px 0;
	}

	.col-ld-5.col-md-6.menu_main_ {
	    position: relative;
	    width: 280px;
	}

	.navbar_nopadding {
	    padding: 0;
	    position: absolute;
	    top: -9px;
	    width: 100%;
	}

	.contact_responsive {
	    display: none!important;
	}

	.list_production_responsive {
	    display: none!important;
	}

	a.navbar-responsive {
	    background: #fff;
	    display: block!important;
	    text-align: center;
	    padding: 10px 0;
	    width: 100%!important;
	}

	i.fa.fa-angle-down.icon-arrow-down {
	    color: #fff!important;
	}

	a.nav-link.nav_link {
	    color: #fff!important;
	    font-weight: 400!important;
	}

a.nav-link.nav_link i.fa {
    color: #fff;
    margin-right: 15px;
    width: 10px;
}


	li.nav-item.nav_item {
	    border-bottom: solid 1px rgba(0, 0, 0, 0.075);
	}

.nav_item_responsive {
    display: block;
}

	li.nav-item.nav_item:hover a.nav-link {
	    text-decoration: underline;
	}

	.menu-responsive#site-menu {
	    width: 280px;
	    height: 500px;
	    position: absolute;
	    z-index: 999;
	    left: 0;
	    top: 56px;
	    background-color: #ec407a;
	    box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
	}

	.top-cart-content.cart-content-responsive {
	    display: none;
	}

	a.cart-link.cart-link-responsive {
	    display: none;
	}

	.top_cart_responsive {
	    display: block!important;
	    display: flex!important;
	    justify-content: flex-end;
	    align-items: center;
	}

	.logo_top_responsive {
	    display: block!important;
	}


	button.navbar-toggler.hidden-sm-up.btn-toggle {
	    background: none;
	}

	.col-lg-3.col-md-3.list_menu_header {
	    display: none;
	}

	.site_menu_main {display: none;}
	

	/*css cho phan blog_index_top*/
	h3.blog-item-name {
        display: block;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: inherit;
        overflow: inherit;
        text-overflow: inherit;
        width: 100%;
        height: 60px;
        margin-bottom: 10px;
        padding-top: 5px;
    }
    /*css cho phan awe-section-2/4/7 */
    section.awe-section-7 {
	    margin-top: 0;
	}
    img.img-banner.img-fluid {
        width: 100%;
    }

    .wrap_owl {
        margin-bottom: 20px;
    }

.hidden-md {
    display: none;
}

    .owl-item {
        text-align: center;
    }
    .owl_item_product {
        display: flex;
        flex-wrap: wrap;
    }
    .product-box {
        width: 50%;
    }

    .hidden-responsive {
        display: none;
    }
    .product-box {
        text-align: center;
    }
    .wrap_ser {
        padding: 0;
    }
    /* css cho phan blog_index_top */
    .col-lg-6.col-md-6.blog_main {
        margin-bottom: 15px;
    }
    /*css cho phan copyright */
    .inner_copyright {
        text-align: center;
    }

}
/*reponsive cho man hinh ipad*/

@media only screen and /*(min-width: 768px)*/ (min-width: 577px) and (max-width: 1139px){
	* {
		
	}

.col-xl-6.col-lg-4.col-md-4.col-sm-6.hidden-lg {
    display: flex;
    align-items: center;
}

a.nav-link.nav_link i.fa {
    color: #fff;
    margin-right: 15px;
    width: 10px;
}

li.nav-item.nav_item {
    width: 100%;
}

ul.nav.navbar-nav {
    position: absolute;
    top: 85px;
    width: 100%;
}

.dropdown-menu ul.nav.navbar-nav.dropdown-item {
    position: absolute;
    top: 85px;
    left: 0;
}

.hidden-lg .dropdown-menu {
    position: relative;
    width: 280px;
    height: 530px;
    /* position: fixed; */
    z-index: 999999;
    /* top: 0px !important; */
    background-color: #ec407a;
    box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
}
	.display-block {
		display: block;
		opacity: 1;
	}

button.btn.btn-info {
    background: #fff!important;
    border: 1px solid gray!important;
}

.col-lg-6.col-md-4.col-sm-6.hidden-lg {
    display: flex;
    justify-content: left;
    align-items: center;
}

.product-box {
    text-align: center;
}

.hidden-md {
    display: none;
}

.owl_item_product {
    display: flex;
    justify-content: space-around;
}

.product-box {
    width: auto;
}

.col-lg-2.col-md-3.col-sm-6.col-xs-6.wrap_owl.hidden-md {
    display: none;
}

img.layer-img.img-beauti.img-fluid {
    width: 100%;
}

h3.blog-item-name {
    display: block;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: inherit;
    overflow: inherit;
    text-overflow: inherit;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding-top: 5px;
}

div#site-menu {
    display: none!important;
}

	/*css cho phan header_top_bar*/
	.header_top_bar {
	    display: none;
	}
	/*css cho phan wrap_header_top*/
	nav.navbar.navbar-light.wrap_header_top {
	    display: none;
	}
	.wrap_header_top {
        display: none; 
	}
	.wrap_header_top {
	    padding: 0;
	}
	.search_full {
	    margin-top: 15px;
	}

	button.btn.icon-fallback-text {
	    height: 100%;
	    border: none;
	    width: 100%;
	}

	span.input-group-btn {
	    position: absolute;
	    top: 15px;
	    right: 15px;
	    width: 45px;
	    height: 50px;
	}

	input.input_search {
	    border: 1px solid #ebebeb;
	    padding: 0 20px;
	    width: 100%;
	    max-width: 100%;
	    display: block;
	    height: 50px;
	}

	.header_search_.col-lg-12.col-md-12.col-sm-12.col-xs-12.hidden-lg.hidden-md.hidden-sm {
	    display: block;
	}

	.col-toggle-responsive {
	    display: flex;
	    align-items: center;
	}

	nav.navbar.navbar-light.navbar-menu-main {
	    border: none;
	    padding: 15px 0;
	}

	.col-ld-5.col-md-6.menu_main_ {
	    position: relative;
	    width: 280px;
	}

	nav.navbar.navbar-light.navbar_nopadding {
	    padding: 0;
	    position: absolute;
	    top: 60px;
	    width: 280px;
	    z-index: 999;
	    background-color: #ec407a;
	    height: 600px;
	    box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
	}

	.contact_responsive {
	    display: none!important;
	}

	.list_production_responsive {
	    display: none!important;
	}

	a.navbar-responsive {
	    background: #fff;
	    display: block!important;
	    text-align: center;
	    padding: 10px 0;
	    width: 100%!important;
	    position: absolute;
	    top: 0;
	}

a.navbar-brand.navbar-logo.navbar-responsive.dropdown-item:hover {
    background: #fff;
}

	i.fa.fa-angle-down.icon-arrow-down {
	    color: #fff!important;
	}

	a.nav-link.nav_link {
	    color: #fff!important;
	    font-weight: 400!important;
	}


	li.nav-item.nav_item {
	    border-bottom: solid 1px rgba(0, 0, 0, 0.075);
	    margin: 0!important;
	}

.nav_item_responsive {
    display: block;
}

	li.nav-item.nav_item:hover a.nav-link {
	    text-decoration: underline;
	}

a.nav-link.nav_link {
    padding: 9px;
    width: 100%;
}

	.menu-responsive#site-menu {
	    width: 280px;
	    height: 500px;
	    position: absolute;
	    z-index: 999;
	    left: 0;
	    top: 56px;
	    background-color: #ec407a;
	    box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
	}

	.top-cart-content.cart-content-responsive {
	    display: none;
	}

	a.cart-link.cart-link-responsive {
	    display: none;
	}

	.top_cart_responsive {
	    display: block!important;
	    display: flex!important;
	    justify-content: flex-end;
	    align-items: center;
	}

	.logo_top_responsive {
	    display: block!important;
	}


	button.navbar-toggler.hidden-sm-up.btn-toggle {
	    background: none;
	}

	.col-lg-3.col-md-3.list_menu_header {
	    display: none;
	}

	.site_menu_main {display: none;}
	
}ss